body {
	font-family: "Plus Jakarta Sans", sans-serif;
	background: #000;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
	background-color: #1376FF;
	border-radius: 10px;
	border: 2px solid #1a1a1a;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #1376FF;
}

.key {
	color: #1376ff;
}

/*-------Side Bar Menu Start ---------*/

.side-bar {
	background-color: #1f2124;
	padding: 10px 0px;
	min-height: 100vh;
	z-index: 2;
}

.side-bar .menus li a i {
	color: #b0b0b0;
}

.side-bar .dropdown-toggle::after {
	display: inline-block;
	margin-left: 0;
	content: "\F285";
	border: 0;
	font-family: "Bootstrap-icons";
}

.side-bar .menus .items {
	position: relative;
	padding: 7px 25px;
	font-size: 20px;
	transition: all 1s ease;
}

.side-bar .menus .items:hover,
.side-bar .menus .items.active {
	background: rgb(0 89 222 / 15%);
	backdrop-filter: blur(3px);
	cursor: pointer;
	box-shadow: 0 12px 13px rgba(0, 0, 0, 0.2);
	transform: scale(1.02);
}

.side-bar .menus .items:nth-child(2) {
	font-size: 18px;
	margin: 15px 0px 13px 0px;
}

.side-bar .menus .items .cust-border {
	padding: 10px 18px;
	background: #292f37;
	border: 1px solid #5b5f7b;
	border-radius: 8px;
}

.side-bar .menus .items .nav-link {
	display: flex;
	gap: 30px;
	align-items: center;
	font-size: 14px;
}

.side-bar .menus hr {
	margin: 14px 0px;
	color: #636780;
	border: 0;
	border-top: var(--bs-border-width) solid;
	opacity: 1;
}

.side-bar .menus .items .nav-link i {
	font-size: 18px;
}

.side-bar .menus .items a i {
	color: #fff;
}

.side-bar .dropdown-item {
	color: #fff;
	border-bottom: 1px solid #ffffff1f;
}

.side-bar .menus .items .dropdown-menu {
	right: 31px !important;
	left: 55px !important;
	top: -22px !important;
	background: #00000059;
	box-shadow: 0px 1px 3px 1px #ffffff3d;
	padding: 0;
}

/*-------Side Bar Menu End ---------*/

/*-------Content Section :- Top Bar ---------*/

.top-bar {
	background: #000;
	padding: 20px 25px 15px 25px;
}

.top-bar .search-bar {
	background: #21222d;
	border-radius: 8px;
}

.top-bar .input-area i {
	color: #8a8a8a;
}

.top-bar .input-area {
	padding: 11px 21px !important;
	color: #8a8a8a;
}

.top-bar .input-area .form-control::placeholder {
	color: #8a8a8a;
}

.top-bar .top-icons ul {
	display: flex;
	gap: 8px;
	margin-top: 10px;
}

.top-bar .top-icons ul li {
	text-decoration: none;
	list-style: none;
}

.top-icons ul li:nth-child(9) a {
	position: relative;
}

.top-icons ul li:nth-child(9) span {
	position: absolute;
	top: 9px;
	right: 10px;
	background-color: #f76c69;
	color: #fff;
	content: "";
	border-radius: 50%;
	width: 12px;
	height: 12px;
	font-size: 7px;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
}

.top-bar .top-icons .items .cust-border {
	padding: 12px 13px;
	background: #292f37;
	border: 1px solid #3A3A45;
	border-radius: 4px;
	animation-duration: 0.5s;
}

.top-bar .top-icons .items .cust-border:hover {
	animation-duration: 2.5s;
	background-color: #1b1d35;
	box-shadow: 0px 2px 1px 0px #ffffff73;
}

.top-bar .top-icons .items .cust-border i {
	color: #e6e6e6;
}

.top-bar .top-icons .items .cust-border img {
	width: 18px;
}

.top-bar .top-icons-2 ul {
	background: #292f37;
	border: 1px solid #3A3A45;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	gap: 20px;
	margin: 0;
	justify-content: normal;
	min-height: 40px;
	padding: 4px 6px !important;
}

.top-bar .top-icons-2 ul li {
	text-decoration: none;
	list-style: none;
}

.top-bar .top-icons-2 ul li:nth-child(1) {
	padding: 6px 8px;
	background-color: #3a3a45;
	border-radius: 4px;
}

.top-bar .top-icons-2 ul li i {
	color: #e6e6e6;
}

.top-bar .profile .text {
	font-weight: 500;
	font-size: 16px;
	color: #b0b0b0;
}

.top-bar .profile .text2 {
	font-weight: 400;
	font-size: 14px;
	color: #737791;
}

/*-------Content Section End :- Top Bar ---------*/

/*-------Content Section Middle ---------*/

.content-section .person {
	padding: 30px 32px;
}

.content-section .bg-custom {
	background-color: #1a1b26;
}

.content-section .person .quick-img {
	padding: 10px 13px;
}

.content-section .person .me img {
	border-radius: 12px;
	filter: drop-shadow(0px 3px 8px #02376e);
	display: block;
}

.camera-icon {
	background-color: #1a1b26;
	color: #1376ff;
	border-radius: 50%;
	padding: 6px 8px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: absolute;
	bottom: 65px;
	right: 8px;
}

.content-section .person .me .h1 {
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	margin: 20px 0;
}

.content-section .quick .accordion,
.content-section .info .accordion,
.content-section .tags .accordion {
	--bs-accordion-bg: transparent !important;
}

.content-section .quick .accordion-button:not(.collapsed),
.content-section .info .accordion-button:not(.collapsed),
.content-section .tags .accordion-button:not(.collapsed) {
	box-shadow: none;
}

.content-section .quick .accordion-button:focus,
.content-section .info .accordion-button:focus,
.content-section .tags .accordion-button:focus {
	box-shadow: none;
}

.content-section .quick .accordion {
	--bs-accordion-bg: transparent !important;
}

.content-section .quick .accordion-button {
	color: #fff !important;
	background: blue !important;
	padding: 0px 10px;
	border-radius: 4px !important;
	overflow: hidden;
	justify-content: center;
}

.content-section .quick .accordion-button::after {
	filter: invert(1);
	background-size: 16px !important;
	margin-top: 4px;
	margin-left: 15px;
}

.content-section .quick .accordion ul {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 12px;
	padding: 15px 0;
}

.content-section .quick .accordion .accordion-body {
	padding: 0px 0;
}

.content-section .quick .accordion ul li {
	text-decoration: none;
	list-style-type: none;
	background: #2a2d38;
	color: #1376ff;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px 17px;
	border-radius: 7px;
	min-height: 45px;
}

.content-section .quick .accordion ul li i {
	font-size: 17px;
}

.content-section .quick .accordion ul li img {
	padding: 0 !important;
}

.content-section .info .accordion-button:not(.collapsed) {
	background: transparent !important;
	box-shadow: none;
}

.content-section .info .accordion-button {
	color: #fff !important;
	overflow: hidden;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 10px;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 500;
}

.content-section .info .accordion-button::after {
	margin-top: 3px;
	margin-left: 5px;
	content: "\F235";
	color: #ffff;
	background-image: none;
	font-family: "Bootstrap-icons";
	font-size: 20px;
}

.content-section .info i {
	font-size: 22px;
}

.content-section .info .accordion-header {
	display: flex;
	align-items: center;
	gap: 7px;
}

.content-section .info .accordion ul {
	align-items: center;
	gap: 12px;
	padding: 10px 0px 10px 0px;
}

.content-section .info .accordion ul li {
	text-decoration: none;
	list-style-type: none;
	border-bottom: 1px solid #3a3a45;
	color: #b1b2b8;
	font-size: 14px;
	font-weight: 500;
	display: grid;
	align-items: center;
	gap: 41px;
	padding: 12px 23px;
	min-height: 52px;
	grid-template-columns: 38% auto;
}

.content-section .info .accordion ul li i {
	font-size: 21px;
	margin-right: 4px;
}

.content-section .info .accordion ul li span {
	display: flex;
	align-items: center;
}

.content-section .tags .accordion-button:not(.collapsed) {
	background: transparent !important;
	box-shadow: none;
}

.content-section .tags .accordion-button {
	color: #fff !important;
	overflow: hidden;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 10px;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 500;
}

.content-section .tags .accordion-button::after {
	margin-top: 3px;
	margin-left: 5px;
	content: "\F235";
	color: #ffff;
	background-image: none;
	font-family: "Bootstrap-icons";
	font-size: 20px;
}

.content-section .tags .accordion-header {
	display: flex;
	align-items: center;
	gap: 7px;
}

.content-section .tags .accordion .accordion-body {
	padding: 0px 0;
}

.content-section .tags-list {
	display: grid;
	grid-template-columns: auto auto;
}

.content-section .tags-list li {
	display: inline-block;
	background-color: #2a2d38;
	border-radius: 4px;
	padding: 8px 15px;
	font-size: 12px;
	font-weight: 500;
	color: #b0b0b0;
	margin: 6px 4px;
	cursor: default;
}

.content-section .tags-list li i {
	margin-right: 4px;
}

.content-section .middle-menu {
	border: 1px solid #3a3a45;
	padding: 25px 25px;
	background: #21222d;
}

.content-section .middle-menu ul.menu-list {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0px;
}

.content-section .middle-menu ul.menu-list li {
	margin-right: 35px;
}

.content-section .middle-menu ul.menu-list li a {
	text-decoration: none;
	color: #b0b0b0;
	display: flex;
	align-items: center;
	gap: 6px;
	transition: color 0.3s;
}

.content-section .middle-menu ul.menu-list li a.active {
	color: #1376ff;
}

.content-section .middle-menu ul.menu-list li .active {
	position: relative;
}

.content-section .middle-menu ul.menu-list li .active::after {
	border-bottom: 1px solid #1376ff;
	content: "";
	background-color: #1376ff;
	width: 112%;
	height: 2px;
	position: absolute;
	bottom: -26px;
}

.content-section .cards-section {
	margin: 20px 25px 5px 20px;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	gap: 12px;
}

.content-section .cards-section .card {
	max-height: 145px;
	min-width: 130px;
	padding: 10px 10px;
	min-height: 145px;
}

.content-section .cards-section .boxes .card1 {
	background: linear-gradient(214deg,
			hsl(205.38deg 100% 89.8%),
			#d0f8ff,
			#8aacd2);
}

.content-section .cards-section .boxes .card2 {
	background: linear-gradient(115deg,
			hsl(205.38deg 100% 89.8%),
			#d8f3ff,
			#f6ddff);
}

.content-section .cards-section .boxes .card3 {
	background: linear-gradient(90deg, #f5fee5, #f6d9f3);
}

.content-section .cards-section .boxes .card4 {
	background: linear-gradient(90deg, #f2ece3, #f8ebd1, #d6fed7, #abfde4);
}

.content-section .cards-section .boxes .card5 {
	background: linear-gradient(90deg, #e8fdfd, #cbf1f7);
}

.content-section .cards-section .boxes .card .flex-content .text1 {
	font-size: 14px;
	font-weight: 500;
}

.content-section .cards-section .boxes .text2 {
	font-size: 12px;
	font-weight: 400;
}

.content-section .cards-section .boxes .card .text3 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 8px;
	line-height: 35px;
}

.content-section .cards-section .boxes .card .text4 {
	font-size: 14px;
	font-weight: 500;
}

.content-section .cards-section .boxes .card .icon-right {
	display: flex;
	justify-content: center;
	background: #ffffff57;
	width: 42px;
	height: 42px;
	align-items: center;
	border-radius: 4px;
}

.content-section .cards-section .boxes .card .icon-right i {
	font-size: 20px;
	font-weight: 500;
}

.content-section .invoices {
	padding: 0px 0px 20px 0px;
	border: 1px solid #3a3a45;
	margin: 0px 20px 0 20px;
	border-radius: 9px;
	overflow: hidden;
	background: #1a1b26;
}

.content-section .invoices .print-btn {
	background: #1376ff;
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
	color: #ffff;
	display: flex;
	gap: 10px;
	font-size: 14px;
	font-weight: 500;
}

.content-section .inner {
	background: #21222d;
	padding: 15px 20px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #3a3a45;
}

.content-section .inner .text1 {
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}

.content-section .inner .text2 {
	color: #8a8a8a;
	font-weight: 500;
	font-size: 16px;
	display: block;
}

.content-section .table-responsive {
	overflow-x: auto;
	margin: 20px 0 0 20px;
}

.content-section .transparent-table {
	background: transparent !important;
	border-collapse: collapse;
}

.content-section .pagination {
	justify-content: center;
	margin-top: 30px;
	gap: 14px;
}

.content-section .pagination .page-link {
	padding: 0.35rem 0.75rem;
	font-size: 13px;
	background: transparent;
	border-radius: 5px;
	max-width: 64px;
	color: #8a8a8a;
	border: 1px solid #3a3a45;
	font-weight: 600;
}

.content-section .pagination .page-item.active .page-link {
	background: #1376ff;
	color: #fff;
}

.content-section .btn-styling {
	margin-left: 20px;
}

.content-section .btn-styling ul {
	display: inline-flex;
	border: 1px solid #3a3a45;
	border-radius: 4px;
	list-style: none;
	padding: 2px;
	margin: 0;
	gap: 8px;
}

.content-section .btn-styling ul li {
	padding: 10px 14px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	color: #B0B0B0;
	background-color: transparent;
	transition: all 0.3s;
}

.content-section .btn-styling ul li.first-btn {
	background-color: rgba(200, 200, 200, 0.2);
	color: #1376FF;
	font-weight: 700;

}

.content-section .btn-styling ul li:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.transparent-table {
	background: transparent !important;
	border-collapse: collapse;
	vertical-align: middle;
}

.transparent-table thead {
	background-color: #ffffff0f;
	border-bottom: 1px solid #80808052;
}

.transparent-table th,
.transparent-table td {
	background: transparent !important;
	color: #b0b0b0;
	border: none;
	padding: 12px 12px;
	font-size: 14px;
}

.content-section .transparent-table tbody tr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content-section .transparent-table thead tr th {
	color: #8a8a8a;
	font-weight: 500;
	font-size: 14px;
}

.content-section .transparent-table tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.content-section .transparent-table td span {
	display: block;
	font-weight: 500 !important;
	font-size: 14px;
	color: #b0b0b0;
	line-height: 1.5;
	margin-bottom: 2px;
}

.content-section .transparent-table td a {
	color: #4291ff;
}

.content-section .transparent-table th span,
.transparent-table tr span {
	display: block;
	font-weight: 500 !important;
	font-size: 14px;
	color: #b0b0b0;
	line-height: 1.5;
	margin-bottom: 2px;
}

.content-section .bottom-text {
	min-width: 600px;
	max-width: 615px;
	margin: auto;
	display: flex;
	gap: 16px;
	justify-content: end;
	margin: auto;
	display: flex;
	gap: 16px;
	justify-content: end;
}

.bottom-text .text3 {
	color: #b0b0b0;
	font-size: 14px;
	font-weight: 500;
}

.bottom-text .text3 b {
	font-size: 16px;
}

/*-------Content Section Middle End ---------*/


/*-------OverAll Layout Media Queries ---------*/

@media (min-width: 1535px) {
	.martial-arts .row .part1 {
		width: 5.333333%;
	}

	.martial-arts .row .part2 {
		width: 94.33%;
	}

	.side-bar .menus .items {
		padding: 7px 18px;
	}

	.side-bar .menus .items .nav-link {
		gap: 20px;
	}

	.top-bar .top-icons-2 ul {
		min-width: 105px;
	}
}

@media (min-width: 1200px) and (max-width: 1535px) {
	.martial-arts .row .part1 {
		width: 7.333333%;
	}

	.martial-arts .row .part2 {
		width: 91.33%;
	}

	.top-bar .top-icons ul {
		gap: 8px;
	}

	.top-bar .top-icons .items .cust-border {
		padding: 12px 6px;
	}

	.content-section .middle-menu ul.menu-list li {
		margin-right: 22px;
		font-size: 14px;
	}
}

@media (min-width: 991px) and (max-width: 1199px) {
	.martial-arts .row .part1 {
		width: 8.22%;
	}

	.martial-arts .row .part2 {
		width: 91.33%;
	}

	.side-bar {
		height: 1500px;
	}

	.top-bar .top-icons .items .cust-border {
		padding: 12px 5px;
	}

	.top-bar .top-icons .items .cust-border i {
		font-size: 11px;
	}

	.content-section .middle-menu ul.menu-list li {
		margin-right: 11px;
		font-size: 12px;
	}

	.top-bar .profile .text {
		font-size: 12px;
	}

	.content-section .cards-section {
		grid-template-columns: auto auto auto;
	}

	.content-section .quick .accordion ul {
		grid-template-columns: auto;
	}

	.content-section .tags-list {

		grid-template-columns: auto;
	}

	.content-section .info .accordion ul li {
		grid-template-columns: auto;
		gap: 9px;
		padding: 12px 0px;
	}
}

@media (max-width: 991px) {
	.side-bar {
		height: 1500px;
	}

	.side-bar .menus .items {
		padding: 11px 38px;
	}

	.top-bar .top-icons ul {
		padding: 0;
	}

	ul.menu-list {
		flex-wrap: wrap;
		gap: 24px;
	}

	.content-section .cards-section {
		grid-template-columns: auto auto auto;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.side-bar .menus .items {
		padding: 11px 30px;
	}

	.top-bar .top-icons ul {
		padding: 0;
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
		gap: 34px 0px;
	}

	.content-section .cards-section {
		grid-template-columns: auto;
	}
}

@media (max-width: 576px) {
	.side-bar .menus .items {
		padding: 11px 20px;
	}
}

@media (max-width: 480px) {
	.side-bar .menus .items {
		padding: 11px 12px;
	}

	.side-bar .menus .items .nav-link {
		gap: 17px;
	}

	.content-section .cards-section {
		grid-template-columns: auto;
		align-items: center;
	}

	.content-section .inner {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 6px;
	}
}

@media (max-width: 395px) {
	.top-bar .top-icons ul {
		grid-template-columns: auto auto auto auto;
		gap: 34px 0px;
	}

	.content-section .quick .accordion ul {
		grid-template-columns: auto;
	}

	.side-bar .menus .items {
		padding: 11px 4px;
	}

	.side-bar .menus .items .nav-link {
		gap: 10px;
	}

	.content-section .tags-list {

		grid-template-columns: auto;
	}

	.content-section .info .accordion ul li {
		grid-template-columns: auto;
		gap: 9px;
		padding: 12px 0px;
	}

}